/* ===== Contact CSS ===== */
.ud-contact {
  padding: 50px 0px;
  position: relative;

  @media #{$xs} {
    padding: 80px 0;
  }

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    width: 100%;
    top: 0;
    left: 0;
    height: 50%;
    background: #f3f4fe;

    @media #{$lg} {
      height: 45%;
    }
  }
}

.ud-contact-title {
  margin-bottom: 150px;

  @media #{$md, $xs} {
    margin-bottom: 50px;
  }

  span {
    font-weight: 600;	
    font-size: 25px;	
    line-height: 45px;	
    margin-bottom: 20px;	
    color: var(--black);	
  /*color: var(--heading-color);	
  font-weight: 600;	
  font-size: 15px;	
  margin-bottom: 20px;*/
  }

  h2 {
    font-weight: 600;
    font-size: 35px;
    line-height: 41px;
  }
}

.ud-contact-info-wrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media #{$md, $xs} {
    margin-bottom: 50px;
  }

  .ud-single-info {
    display: flex;
    max-width: 100%;
    width: 330px;
    margin-bottom: 30px;
  }

  .ud-info-icon {
    font-size: 32px;
    color: var(--primary-color);
    margin-right: 24px;
  }

  .ud-info-meta {
    h5 {
      font-weight: 600;
      font-size: 18px;
      margin-bottom: 15px;
    }

    p {
      font-size: 15px;
      line-height: 24px;
    }
  }
}

.ud-contact-form-wrapper {
  box-shadow: 0px 4px 28px rgba(0, 0, 0, 0.05);
  border-radius: 8px;
  background:var(--black);
  padding: 60px;

  @media #{$xs} {
    padding: 40px 30px;
  }

  @media #{$laptop, $lg, $sm} {
    padding: 50px 40px;
  }

  .ud-contact-form-title {
    font-style: normal;
    font-weight: 600;
    font-size: 28px;
    margin-bottom: 30px;

    @media #{$xs} {
      font-size: 24px;
    }
  }

  .ud-form-group {
    margin-bottom: 25px;

    label {
      display: block;
      font-weight: normal;
      font-size: 12px;
    }

    input,
    textarea {
      display: block;
      width: 100%;
      padding: 15px 0;
      border: none;
      outline: none;
      border-bottom: 1px solid #f1f1f1;
      resize: none;

      &:focus {
        border-color: var(--primary-color);
      }
    }
  }
}

/*--------------------   yash css   -------------------------------------------*/	
.Freunde{	
  text-align: center;	
}	
.ud-widget-pay{	
  margin-top: 2%; 	
  display: flex;	
}	
.ud-widget-pay li {	
  width: 10%;	
  margin-right: 2%;	
}	
.ud-faq .sec2 {	
  padding: 0px 70px;	
}	
.sec2 .sec2-b1{	
  float: left;	
}	
.sec2 .sec2-b2{	
  float: left;	
}	
.sec2 .sec2-b1 p {	
  font-size: 14px;	
font-weight: 600;	
  /*line-height: 13px;*/	
  /*margin-bottom: 20px;*/	
  color:var(--black);	
  	
}	
.sec2 .sec2-b1 span {	
  font-size: 16px;	
  font-weight: 600;	
  color:var(--black);	
  margin-bottom: 20px;	
}	
.sec2 .sec2-b2 p {	
  font-size: 14px;	
font-weight: 600;	
  /*line-height: 13px;*/	
  /*margin-bottom: 20px;*/	
  color:var(--black);	
  	
}	
.sec2 .sec2-b2 span {	
  font-size: 15px;	
  font-weight: 600;	
  color:var(--black);	
  margin-bottom: 20px;	
}	
.sec2 .sec2-bottom P {	
    font-size: 13px;	
    margin-top: 2%;	
  /*line-height: 13px;*/	
  /*margin-bottom: 20px;*/	
  color: var(--black);	
}	
.sec2 .sec2-bottom P span {	
    font-size: 13px;	
    margin-top: 2%;	
font-weight: 400;	
  /*line-height: 13px;*/	
  /*margin-bottom: 20px;*/	
  color: var(--heading-color);	
  text-decoration: underline;	
}	
.sec2 span{	
  font-size: 12px;	
  color: var(--black);	
  margin-bottom: 20px;	
}
/* Style the tab */
.tab {
  float: left;
  margin-top: 10%;

  
  
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: inherit;
  color: black;
  padding: 10px 0px;
  width: auto;
  border: none;
  outline: none;
  text-align: left;
  cursor: pointer;
  transition: 0.3s;
  font-size: 14px;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current "tab button" class */
.tab_1 button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  float: left;
  padding: 0px 12px;
  border-left: none;
  height: auto;
}

.ud-tab{
  padding-top: 120px;
  padding-bottom: 90px;
  background: #f3f4fe;
  position: relative;
  z-index: 1;
} span {


  
    font-size: 10px;
    color: var(--black);

  }

  .ud-tab_section .sec2 {
    padding: 0px 30px;
    
    float: left;
    
}
.ud-tab_section{
  padding-top: 120px;
  padding-bottom: 70px;
  height: 900px;

}
.tab-sec2{

  h5{
    color: var(--black);
    font-size: 25px;
  }
}

.ud-tab-hearding{
  
  h5{
    font-size: 22px;
    color: var(--heading-color);
    margin-bottom: 6%;
    font-weight: 600;
  }
}
.center-tab-container{
  max-width: 700px;


}

.ud-tab-form{
  
.form-group{
  padding: 2% 0px;
  vertical-align: calc();
 
}

}
.ud-tab-form .form-group .col-form-label-sm{
  color: var(--black);
  font-size: 14px;
}

.ud-tab-form .form-group .col-form-label-sm1 input{
  border: 1px solid #e3e3e3;
}
